# ---------- | Server | ----------

PORT=
NODE_ENV=
FRONTEND_URL=

API_PREFIX=
API_VERSION=

# ---------- | CORS | ----------

CORS_ORIGIN=

# ---------- | Logging | ----------

LOG_LEVEL=
LOG_RESPONSE_BODY=

# ---------- | Authentication | ----------

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRATION=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=
